<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Applications/XAMPP/xamppfiles/htdocs/UrbanVogueStore/backend/rest/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Omogući CORS ako frontend i backend komuniciraju
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>
